@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/*base*/
html {
  scroll-behavior: smooth;
}

* {
  margin: unset;
  padding: unset;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #c5c5c5;
}

/*3rd-party*/
/*components*/
/*pages*/
/* header: start */
.container-header {
  background-color: #122023;
  padding: 15px;
}

/* header: end */
/* home: start */
.container-home {
  background-color: #122023;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-home .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* home: end */
/* strategic: start */
.container-strategic {
  background-color: #223b41;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-strategic .card-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-strategic .card-right .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* strategic: end */
/* engineering: start */
.container-engineering {
  background-color: #223b41;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-engineering .card-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-engineering .card-right .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* engineering: end */
/* visual: start */
.container-visual {
  background-color: #223b41;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-visual .card-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-visual .card-right .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* visual: end */
/* form: start */
.container-form {
  background-color: #122023;
  padding: 15px;
}

/* form: end */
/* footer: start */
.container-footer {
  background-color: #122023;
  padding: 15px;
}

/* footer: end */
