/* header: start */
.container-header {
    background-color: $background-primary-color;
    padding: 20px 15px;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;

    .container-nav {
        position: relative;

        >a {
            height: 40px;
            width: 200px;

            .logo {
                height: 40px;
            }
        }
    }
}

@media (min-width: $desktop) {
    .container-header {
        padding: $desctop-header-padding;

        .container-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: unset;
        }
    }


}

/* header: end */

/* home: start */
.container-home {
    @extend %bgrnd-flex-c-c-clm;
    padding: 180px 15px 0 15px;

    .card-home-left {
        @extend %flex-c-c-clm;

        h1 {
            font-size: $text-size-32;
            font-weight: 400;
            text-align: center;
            max-width: 80%;
            color: $accent-color;
            line-height: 1.3;
        }

        .main-p {
            @extend %paragraph;
            font-size: $text-size-18;
            padding-top: 30px;
            padding-bottom: 60px;
        }
    }

    .home-card {
        @extend %flex-c-c-clm;
        padding: 60px 0 30px 0;
        margin: 23px 30px;

        box-shadow: 1px 1px 17px 5px rgba(34, 59, 65, 0.6);
        -webkit-box-shadow: 1px 1px 17px 5px rgba(34, 59, 65, 0.6);
        -moz-box-shadow: 1px 1px 17px 5px rgba(34, 59, 65, 0.6);

        img {
            max-height: 93px;
            margin-bottom: 30px;
        }

        h2 {
            font-size: $text-size-20;
            color: $accent-color;
            font-weight: 400;
        }

        p {
            @extend %paragraph;
            text-align: justify;
            padding-top: 30px;
        }
    }
}

@media (min-width: $desktop) {
    .container-home {
        padding: $desctop-home-padding;

        .card-home-left {
            width: 100%;
            align-items: unset;

            h1 {
                font-size: $text-size-55;
                text-align: left;
            }

            .main-p {
                width: 33%;
                font-size: $text-size-20;
                text-align: left;
                padding-top: 30px;
                padding-bottom: unset;
            }
        }

        .home-card {
            margin: unset;

            h2 {
                font-size: $text-size-25;
                text-align: center;
            }
        }
    }
}

/* home: end */

/* strategic: start */
.container-strategic {
    background-color: $background-secondary-color;
    @extend %flex-c-c-clm;
    padding: 90px 15px 0 15px;

    .card-left {
        @extend %card-left;
    }

    .card-right {
        .card {
            @extend %card-right;
        }
    }
}

@media (min-width: $desktop) {
    .container-strategic {
        flex-direction: row;
        justify-content: space-between;
        padding: $desctop-strategic-padding;

        .card-right {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

/* strategic: end */

/* engineering: start */
.container-engineering {
    background-color: $background-secondary-color;
    @extend %flex-c-c-clm;
    padding: 90px 15px 0 15px;

    .card-left {
        @extend %card-left;
    }

    .card-right {
        .card {
            @extend %card-right;
        }
    }
}

@media (min-width: $desktop) {
    .container-engineering {
        flex-direction: row;
        justify-content: space-between;
        padding: $desctop-strategic-padding;

        .card-right {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

/* engineering: end */

/* visual: start */
.container-visual {
    background-color: $background-secondary-color;
    @extend %flex-c-c-clm;
    padding: 90px 15px 0 15px;

    .card-left {
        @extend %card-left;
    }

    .card-right {
        .card {
            @extend %card-right;
        }
    }
}

@media (min-width: $desktop) {
    .container-visual {
        flex-direction: row;
        justify-content: space-between;
        padding: $desctop-strategic-padding;
        padding-bottom: 90px;

        .card-right {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

/* visual: end */

/* form: start */
.container-form {
    @extend %bgrnd-flex-c-c-clm;
    padding: 90px 15px 0 15px;

    .card-left {
        @extend %card-left;

        p {
            text-align: center;
            padding-bottom: 30px;
        }
    }

}

/* form: end */

/* footer: start */
.container-footer {
    @extend %bgrnd-flex-c-c-clm;
    align-items: flex-start;
    padding: 90px 35px 35px;

    .card-footer {
        @extend %flex-c-c-clm;
        align-items: flex-start;

        h2 {
            font-size: $text-size-20;
            font-weight: 600;
        }

        .contacts {
            padding-top: 15px;

            a {
                text-decoration: unset;
                padding-left: 15px;
            }
        }
    }

    small {
        padding-top: 30px;
        font-size: $text-size-14;
    }

}

/* footer: end */