/* header: start */
.container-header {
    background-color: $background-primary-color;
    padding: 25px 15px;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;

    .container-nav {
        position: relative;
    }

    .logo {
        max-height: 40px;
    }

    li {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    a {
        text-decoration: unset;
        font-size: $text-size-18;
        font-weight: 400;

        &:hover {
            font-weight: 700;
        }
    }
}

/* header: end */

/* home: start */
.container-home {
    @extend %bgrnd-flex-c-c-clm;
    padding: 90px 15px 45px 15px;
    height: 100%;

    h1 {
        font-size: $text-size-32;
        font-weight: 400;
        text-align: center;
        max-width: 80%;
        color: $accent-color;
        line-height: 1.3;
    }

    .main-p {
        @extend %paragraph;
        padding-top: 30px;
    }

    .card {
        @extend %flex-c-c-clm;
        padding-top: 90px;

        img {
            max-height: 93px;
            margin-bottom: 30px;
        }

        h2 {
            font-size: $text-size-20;
            color: $accent-color;
            font-weight: 400;
        }

        p {
            @extend %paragraph;
            text-align: justify;
            padding-top: 30px;
        }

    }
}

/* home: end */

/* strategic: start */
.container-strategic {
    background-color: $background-secondary-color;
    @extend %flex-c-c-clm;
    padding: 120px 15px 30px 15px;

    .card-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-right {
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}

/* strategic: end */

/* engineering: start */
.container-engineering {
    background-color: #223b41;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .card-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-right {
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}

/* engineering: end */

/* visual: start */
.container-visual {
    background-color: #223b41;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .card-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-right {
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}

/* visual: end */

/* form: start */
.container-form {
    background-color: $background-primary-color;
    padding: 15px;

    textarea {
        resize: vertical;
    }

}

/* form: end */

/* footer: start */
.container-footer {
    background-color: $background-primary-color;
    padding: 15px;
}

/* footer: end */