 .btn-nav {
     background: transparent;
     cursor: pointer;
     font-size: $text-size-18;
     font-weight: 400;
     margin: 0 5px 0 5px;

     &:hover,
     &:active {
         color: $accent-color;
     }
 }

 .btn-nav-active {
     color: $accent-color;
 }

 @media (min-width: $desktop) {
     .btn-nav {
         font-size: $text-size-16;

         &:last-child {
             margin-right: 0;
         }
     }
 }