.form {
    @extend %bgrnd-flex-c-c-clm;
    align-items: flex-start;
    width: 350px;
    border: 2px solid $accent-color;
    border-radius: 8px;
    padding: 0 25px 25px;

    label {
        margin: 30px 0 15px 0;
    }

    input {
        width: 100%;
        padding: 15px;
        border: 1px solid $icons-text-color;
        border-radius: 8px;
        background-color: transparent;
        font-size: $text-size-16;

        &::placeholder {
            font-size: $text-size-14;
            color: $placeholder-color;
        }

        &:hover,
        &:active {
            border: 1px solid $accent-color;
        }
    }

    .input-error {
        border: 1px solid red;
    }

    textarea {
        width: 100%;
        min-height: 70px;
        padding: 15px;
        resize: vertical;
        border: 1px solid $icons-text-color;
        border-radius: 8px;
        background-color: transparent;
        font-size: $text-size-16;

        &::placeholder {
            font-size: $text-size-14;
            color: $placeholder-color;
        }

        &:hover,
        &:active {
            border: 1px solid $accent-color;
        }
    }

    .textarea-error {
        border: 1px solid red;
    }

    button {
        margin-top: 30px;
        height: 50px;
        width: 100%;
        background-color: transparent;
        border: 1px solid $accent-color;
        border-radius: 8px;
        font-weight: 600;
        font-size: $text-size-16;
        text-align: center;

        &:hover {
            color: $accent-color;
        }

        &:active {
            background-color: $background-secondary-color;
        }
    }
}

@media (min-width: $desktop) {
    .form {
        width: 750px;
    }
}