html {
    scroll-behavior: smooth;
}

* {
    margin: unset;
    padding: unset;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    outline: unset;
    border: unset;
    list-style-type: none;
}